<header>

    <!-- Nav Bar -->
    <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
    <div class="container">
      <!-- {% if page.title != "about" %} -->
      <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}" style="padding-top: 0; padding-bottom: 0;">
       <!-- {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{% else %}{{ site.title }}{% endif %} -->
       <img src="{{ '/assets/img/isl-logo-dark.svg' | relative_url }}" alt="isl-logo" height="38px">
      </a>
      <!-- {% elsif site.enable_navbar_social %} -->
        <!-- Social Icons -->
        <!-- <div class="navbar-brand social"> -->
          <!-- {% include social.html %} -->
        <!-- </div> -->
      <!-- {% endif %} -->
      <!-- Navbar Toggle -->
      <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 12px; padding-bottom: 8px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- About -->
          <!-- <li class="nav-item {% if page.title == 'about' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              About
              {% if page.title == "about" %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li> -->
          <!-- {% if site.blog_name %} -->
          <!-- Blog -->
          <!-- <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
            <a class="nav-link" href="{{ '/blog/' | relative_url }}">
              blog
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li> -->
          <!-- {% endif %} -->
          <!-- pages -->
          <li class="nav-item {% if page.url contains 'projects' %}active{% endif %}">
            <a class="nav-link" href="{{ '/projects/' | relative_url }}">
              </span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 20 20">
                <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
              </svg> Projects 
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>          
          <li class="nav-item {% if page.url contains 'publications' %}active{% endif %}">
            <a class="nav-link" href="{{ '/publications/' | relative_url }}" style="margin-left: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 20 20">
                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
              </svg> Publications  
              {% if page.title == "Publication" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.url contains 'teaching' %}active{% endif %}">
            <a class="nav-link" href="{{ '/teaching/' | relative_url }}">
              </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dpad-fill" viewBox="0 0 16 16">
                <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v3a.5.5 0 0 1-.5.5h-3A1.5 1.5 0 0 0 0 6.5v3A1.5 1.5 0 0 0 1.5 11h3a.5.5 0 0 1 .5.5v3A1.5 1.5 0 0 0 6.5 16h3a1.5 1.5 0 0 0 1.5-1.5v-3a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 0 16 9.5v-3A1.5 1.5 0 0 0 14.5 5h-3a.5.5 0 0 1-.5-.5v-3A1.5 1.5 0 0 0 9.5 0zm1.288 2.34a.25.25 0 0 1 .424 0l.799 1.278A.25.25 0 0 1 8.799 4H7.201a.25.25 0 0 1-.212-.382zm0 11.32-.799-1.277A.25.25 0 0 1 7.201 12H8.8a.25.25 0 0 1 .212.383l-.799 1.278a.25.25 0 0 1-.424 0Zm-4.17-4.65-1.279-.798a.25.25 0 0 1 0-.424l1.279-.799A.25.25 0 0 1 4 7.201V8.8a.25.25 0 0 1-.382.212Zm10.043-.798-1.278.799A.25.25 0 0 1 12 8.799V7.2a.25.25 0 0 1 .383-.212l1.278.799a.25.25 0 0 1 0 .424Z"/>
              </svg> Teaching 
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>   
          <li class="nav-item {% if page.url contains 'team' %}active{% endif %}">
            <a class="nav-link" href="{{ '/team/' | relative_url }}" style="margin-left: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 20 20">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg> Team
              {% if page.title == "Team" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.url contains 'joinus' %}active{% endif %}">
            <a class="nav-link" href="{{ '/joinus/' | relative_url }}" style="margin-left: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 20 20">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg> Join Us
              {% if page.title == "Join Us" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.url contains 'haowang' %}active{% endif %}">
            <a class="nav-link" href="{{ '/haowang/' | relative_url }}" style="margin-left: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 20 20">
                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
              </svg> Hao Wang
              {% if page.title == "Hao Wang" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <!-- Other pages -->
          <!-- {% assign sorted_pages = site.pages | sort: "title" %}
          {% for p in sorted_pages %}
          {% if p.nav and p.autogen == nil %}
          <li class="nav-item {% if page.title == p.title %}active{% endif %}">
              <a class="nav-link" href="{{ p.url | relative_url }}">
                {{ p.title }}
                {% if page.title == p.title %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>
          {% endif %}
          {% endfor %} -->
          {% if site.enable_darkmode %}
            <div class = "toggle-container">
              <a id = "light-toggle">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
              </a>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</header>
