<header>

    <!-- Nav Bar -->
    <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
    <div class="container">
      <!-- {% if page.title != "about" %} -->
      <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}" style="padding-top: 0; padding-bottom: 0;">
       <!-- {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{% else %}{{ site.title }}{% endif %} -->
       <img src="{{ '/assets/img/logo-dark.svg' | relative_url }}" alt="isl-logo" height="38px">
      </a>
      <!-- {% elsif site.enable_navbar_social %} -->
        <!-- Social Icons -->
        <!-- <div class="navbar-brand social"> -->
          <!-- {% include social.html %} -->
        <!-- </div> -->
      <!-- {% endif %} -->
      <!-- Navbar Toggle -->
      <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 12px; padding-bottom: 8px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- About -->
          <li class="nav-item {% if page.title == 'about' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              About
              {% if page.title == "about" %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% if site.blog_name %}
          <!-- Blog -->
          <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
            <a class="nav-link" href="{{ '/blog/' | relative_url }}">
              blog
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% endif %}
          <!-- pages -->
          <li class="nav-item {% if page.url contains 'projects' %}active{% endif %}">
            <a class="nav-link" href="{{ '/projects/' | relative_url }}">
              Projects
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>          
          <li class="nav-item {% if page.url contains 'publications' %}active{% endif %}">
            <a class="nav-link" href="{{ '/publications/' | relative_url }}">
              Publications
              {% if page.title == "Publication" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.url contains 'team' %}active{% endif %}">
            <a class="nav-link" href="{{ '/team/' | relative_url }}">
              Team
              {% if page.title == "team" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.url contains 'Join Us' %}active{% endif %}">
            <a class="nav-link" href="{{ '/joinus/' | relative_url }}">
              Join Us
              {% if page.title == "Join Us" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <!-- Other pages -->
          <!-- {% assign sorted_pages = site.pages | sort: "title" %}
          {% for p in sorted_pages %}
          {% if p.nav and p.autogen == nil %}
          <li class="nav-item {% if page.title == p.title %}active{% endif %}">
              <a class="nav-link" href="{{ p.url | relative_url }}">
                {{ p.title }}
                {% if page.title == p.title %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>
          {% endif %}
          {% endfor %} -->
          {% if site.enable_darkmode %}
            <div class = "toggle-container">
              <a id = "light-toggle">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
              </a>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</header>
